@model Dugundeyiz.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div id="wb_root" class="root wb-layout-vertical">
    
    <div id="wb_main_a188dd9a34dc00a2ba561675c7f83454" class="wb_element wb-layout-element" data-plugin="LayoutElement" style="min-height: 322px;">
        <div class="wb_content wb-layout-vertical">
            <div id="a188dd9a22120962a319fa8455c0aaeb" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                <a name="Home" class="wb_anchor" data-popup-processed="true"></a>
                <div class="wb_content wb-layout-vertical">
                    <div id="a188dd9a22120a45fc479eaa16f1d983" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                        <div class="wb_content wb-layout-horizontal">
                            <div id="a188dd9a22120bb220871752b07002ac" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                <div class="wb_content wb-layout-vertical">
                                    <div id="a188dd9a22120c27d78f434fb2bb52df" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                                        <h1 class="wb-stl-heading1" style="text-align: center;">Çok yakında yayında</h1>
                                    </div>
                                    <div id="a188dd9a22120d12a90db5f3dd369467" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                                        <h5 class="wb-stl-subtitle" style="text-align: center;"><span style="color:rgba(255,255,255,1);">1 Ekim&nbsp;</span></h5>
                                    </div>
                                    <div id="a188dd9a22120ee3a8b5bdb84446efd5" class="wb_element" data-plugin="countdown">
                                        <style>
                                            #a188dd9a22120ee3a8b5bdb84446efd5_countdown_timer {
                                                width: 100%;
                                                height: 100%;
                                                font-family: 'Cormorant', Arial, serif;
                                                font-size: 61.111111111111px;
                                                color: #ffffff;
                                                text-align: center;
                                                line-height: 100%;
                                                display: flex;
                                                justify-content: space-around;
                                                align-items: center;
                                                flex-wrap: nowrap;
                                                font-style: normal;
                                                font-weight: bold;
                                                text-decoration: none;
                                            }

                                            @@media all and (max-width: 320px) {
                                                #a188dd9a22120ee3a8b5bdb84446efd5_countdown_timer {
                                                    font-size: px;
                                                }

                                                    #a188dd9a22120ee3a8b5bdb84446efd5_countdown_timer .dlmtr {
                                                        display: none;
                                                    }
                                            }

                                            #a188dd9a22120ee3a8b5bdb84446efd5_countdown_timer .dlmtr {
                                                display: inline-block;
                                                position: relative;
                                                vertical-align: middle;
                                                margin-top: calc(5px + 16px);
                                            }

                                            #a188dd9a22120ee3a8b5bdb84446efd5_countdown_timer .numblock {
                                                display: inline-block;
                                                position: relative;
                                                vertical-align: middle;
                                                margin-top: calc(5px + 16px);
                                            }

                                                #a188dd9a22120ee3a8b5bdb84446efd5_countdown_timer .numblock .num {
                                                    position: absolute;
                                                    display: block;
                                                    top: 0;
                                                    left: 50%;
                                                    transform: translateX(-50%);
                                                }

                                                #a188dd9a22120ee3a8b5bdb84446efd5_countdown_timer .numblock .plchldr {
                                                    color: transparent !important;
                                                    opacity: 0;
                                                    font-style: normal;
                                                    font-weight: bold;
                                                    text-decoration: none;
                                                }

                                                #a188dd9a22120ee3a8b5bdb84446efd5_countdown_timer .numblock:after {
                                                    font-family: 'Roboto', Arial, sans-serif;
                                                    font-size: 16px;
                                                    color: #ffffff;
                                                    text-transform: capitalize;
                                                    text-align: center;
                                                    line-height: 100%;
                                                    position: absolute;
                                                    top: -5px;
                                                    left: 50%;
                                                    transform: translateX(-50%);
                                                    font-style: normal;
                                                    font-weight: normal;
                                                    text-decoration: none;
                                                }

                                                #a188dd9a22120ee3a8b5bdb84446efd5_countdown_timer .numblock.days:after {
                                                    content: "gün";
                                                }

                                                #a188dd9a22120ee3a8b5bdb84446efd5_countdown_timer .numblock.hours:after {
                                                    content: "saatler";
                                                }

                                                #a188dd9a22120ee3a8b5bdb84446efd5_countdown_timer .numblock.mins:after {
                                                    content: "dakika";
                                                }

                                                #a188dd9a22120ee3a8b5bdb84446efd5_countdown_timer .numblock.secs:after {
                                                    content: "saniye";
                                                }

                                            #a188dd9a22120ee3a8b5bdb84446efd5_wb_caption {
                                                width: 100%;
                                                height: 100%;
                                                background-color: transparent !important;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                            }

                                                #a188dd9a22120ee3a8b5bdb84446efd5_wb_caption:before {
                                                    content: "";
                                                    display: inline-block;
                                                    vertical-align: middle;
                                                    height: auto;
                                                }
                                        </style>
                                        <div class="wb_caption smaller" style="position: relative" id="a188dd9a22120ee3a8b5bdb84446efd5_wb_caption">
                                            <div id="a188dd9a22120ee3a8b5bdb84446efd5_countdown_timer" style="opacity: 1; font-size: 89px;">
                                                <div class="numblock days"><span class="plchldr">17</span><span class="num">17</span></div>
                                                <div class="dlmtr">:</div>
                                                <div class="numblock hours"><span class="plchldr">88</span><span class="num">12</span></div>
                                                <div class="dlmtr">:</div>
                                                <div class="numblock mins"><span class="plchldr">88</span><span class="num">00</span></div>
                                                <div class="dlmtr">:</div>
                                                <div class="numblock secs"><span class="plchldr">88</span><span class="num">09</span></div>
                                            </div>
                                        </div>

                                        <script type="text/javascript">
                                            (function () {
                                                var countDown_a188dd9a22120ee3a8b5bdb84446efd5 = {
                                                    start: function () {
                                                        this.countDownBlock = $("#a188dd9a22120ee3a8b5bdb84446efd5_countdown_timer");
                                                        this.textAfterBlock = $("#a188dd9a22120ee3a8b5bdb84446efd5_countdown_text_after");
                                                        this.daysBlock = this.countDownBlock.find(".days .num");
                                                        this.hoursBlock = this.countDownBlock.find(".hours .num");
                                                        this.minsBlock = this.countDownBlock.find(".mins .num");
                                                        this.secsBlock = this.countDownBlock.find(".secs .num");
                                                        var timerDate = new Date(1727733600000);
                                                        var currDate = new Date();
                                                        var diff = timerDate.getTime() - currDate.getTime();
                                                        this.diffDays = Math.floor(diff / (1000 * 60 * 60 * 24));
                                                        diff = diff - 1000 * 60 * 60 * 24 * this.diffDays;
                                                        this.diffHours = Math.floor(diff / (1000 * 60 * 60));
                                                        diff = diff - 1000 * 60 * 60 * this.diffHours;
                                                        this.diffMins = Math.floor(diff / (1000 * 60));
                                                        diff = diff - 1000 * 60 * this.diffMins;
                                                        this.diffSecs = Math.floor(diff / 1000);
                                                        if (this.diffDays < 0 || this.diffHours < 0 || this.diffMins < 0 || this.diffSecs < 0 ||
                                                            (this.diffDays === 0 && this.diffHours === 0 && this.diffMins === 0 && this.diffSecs === 0)) {
                                                            if (window.countDownInterval_a188dd9a22120ee3a8b5bdb84446efd5) clearInterval(window.countDownInterval_a188dd9a22120ee3a8b5bdb84446efd5);
                                                            this.daysBlock.text("0");
                                                            this.hoursBlock.text("00");
                                                            this.minsBlock.text("00");
                                                            this.secsBlock.text("00");
                                                        } else {
                                                            this.daysBlock.text(this.diffDays);
                                                            this.countDownBlock.find('.days .plchldr').text(this.diffDays);
                                                            this.hoursBlock.text(this.pad(this.diffHours));
                                                            this.minsBlock.text(this.pad(this.diffMins));
                                                            this.secsBlock.text(this.pad(this.diffSecs));
                                                            this.countDownBlock.show();
                                                            this.textAfterBlock.hide();
                                                            var self = this;
                                                            if (window.countDownInterval_a188dd9a22120ee3a8b5bdb84446efd5) clearInterval(window.countDownInterval_a188dd9a22120ee3a8b5bdb84446efd5);
                                                            window.countDownInterval_a188dd9a22120ee3a8b5bdb84446efd5 = setInterval(function () {
                                                                var ended = self.tick();
                                                                if (ended) {
                                                                    clearInterval(window.countDownInterval_a188dd9a22120ee3a8b5bdb84446efd5);
                                                                };
                                                                self.daysBlock.text(self.diffDays);
                                                                self.hoursBlock.text(self.pad(self.diffHours));
                                                                self.minsBlock.text(self.pad(self.diffMins));
                                                                self.secsBlock.text(self.pad(self.diffSecs));
                                                            }, 1000);
                                                        }
                                                    },
                                                    pad: function (val) {
                                                        if (("" + val).length === 1) {
                                                            return '0' + val;
                                                        }
                                                        return val;
                                                    },
                                                    tick: function () {
                                                        if (this.diffDays === 0 && this.diffHours === 0 && this.diffMins === 0 && this.diffSecs === 0) {
                                                            return true;
                                                        } else {
                                                            if (this.diffSecs > 0) {
                                                                this.diffSecs--;
                                                            } else {
                                                                this.diffSecs = 59;
                                                                if (this.diffMins > 0) {
                                                                    this.diffMins--;
                                                                } else {
                                                                    this.diffMins = 59;
                                                                    if (this.diffHours > 0) {
                                                                        this.diffHours--;
                                                                    } else {
                                                                        this.diffHours = 23;
                                                                        if (this.diffDays > 0) {
                                                                            this.diffDays--;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        return false;
                                                    }
                                                };
                                                countDown_a188dd9a22120ee3a8b5bdb84446efd5.start();
                                                var cBlock = $('#a188dd9a22120ee3a8b5bdb84446efd5_countdown_timer');
                                                var cChildren = cBlock.children();
                                                var elem = $('[data-id=a188dd9a22120ee3a8b5bdb84446efd5], #a188dd9a22120ee3a8b5bdb84446efd5');
                                                var isAutoLayout = "110" === 'auto';
                                                var height = parseFloat('110');
                                                var resizeFn = function (repeat) {
                                                    cBlock.css('opacity', 0);
                                                    if (isAutoLayout) {
                                                        cBlock.css('fontSize', 1);
                                                        var innerWidth;
                                                        var maxIterations = 100;
                                                        do {
                                                            cBlock.css('fontSize', parseInt(cBlock.css('fontSize')) + 1);
                                                            innerWidth = cChildren.toArray().reduce(function (sum, item) {
                                                                return sum + item.offsetWidth;
                                                            }, 0);
                                                            if (maxIterations > 0) maxIterations--;
                                                            else break;
                                                        } while (innerWidth < cBlock.width() * 0.8);
                                                    } else {
                                                        var h = cBlock.outerHeight();
                                                        h -= 5 + 16;
                                                        cBlock.css('fontSize', h);
                                                        let innerWidth = cChildren.toArray().reduce(function (sum, item) {
                                                            return sum + item.offsetWidth;
                                                        }, 0);
                                                        if (innerWidth > cBlock.width()) h *= cBlock.width() / innerWidth;
                                                        cBlock.css('fontSize', h);
                                                    }
                                                    cBlock.css('opacity', 1);
                                                    if (!repeat) {
                                                        setTimeout(function () {
                                                            resizeFn(true)
                                                        }, 500);
                                                    }
                                                }
                                                var timer = null;
                                                $(window).resize(function () {
                                                    if (timer) {
                                                        clearTimeout(timer);
                                                        timer = null;
                                                    }
                                                    timer = setTimeout(resizeFn, 200);
                                                });
                                                $(window).resize();
                                            })();
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="a188dd9a22120fecac69633dabda7368" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                <a name="About-us" class="wb_anchor" data-popup-processed="true"></a>
                <div class="wb_content wb-layout-vertical">
                    <div id="a19127a1984400deef261fad5c1153ff" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                        <div class="wb_content wb-layout-horizontal">
                            <div id="a188dd9a221213f1524ba5e8bf212ecc" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                <div class="wb_content wb-layout-horizontal">
                                    <div id="a188dd9a221214e6a235a9e37adaf66c" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                        <div class="wb_content wb-layout-vertical">
                                            <div id="a188dd9a2212156b5f335a50fd7191e8" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                                <div class="wb_picture_wrap">
                                                    <div class="wb-picture-wrapper"><img alt="" src="gallery_gen/5093a0de02e40f838a0ba9225ad9949f_500x500_fit.png?ts=1723818424"></div>
                                                </div>
                                            </div>
                                            <div id="a188dd9a2212161c3de9dcfdf447344d" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                                                <h3 class="wb-stl-heading3" style="text-align: center;">Nedimenizle Tanışın</h3>
                                            </div>
                                            <div id="a188dd9a2212174eed0e9b8a228b3ac7" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                                <div class="wb_content wb-layout-horizontal">
                                                    <div id="a188dd9a221219732980d15375df0e6c" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                                        <div class="wb_picture_wrap" style="height: 100%">
                                                            <div class="wb-picture-wrapper" style="overflow: visible; display: flex"><svg xmlns="http://www.w3.org/2000/svg" width="1793.982" height="1793.982" viewBox="0 0 1793.982 1793.982" style="direction: ltr; color:#f40cd8"><text x="129.501415" y="1537.02" font-size="1792" fill="currentColor" style="font-family: &quot;FontAwesome&quot;"></text></svg></div>
                                                        </div>
                                                    </div>
                                                    <div id="a188dd9a22121aa9d5afc963132c8fef" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                                        <div class="wb_picture_wrap" style="height: 100%">
                                                            <div class="wb-picture-wrapper" style="overflow: visible; display: flex"><a href="#Home" data-popup-processed="true"><svg xmlns="http://www.w3.org/2000/svg" width="1024" height="1024" viewBox="0 0 1024 1024" style="direction: ltr; color:#ffffff"><text x="64" y="960" font-size="1024" fill="currentColor" style="font-family: &quot;builder-ui-icons-plugins&quot;"></text></svg></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="a188dd9a22121bf3b6879b59fd99b2c4" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                        <div class="wb_content wb-layout-vertical">
                                            <div id="a188dd9a22121c61f739740d8c8e3cf3" class="wb_element wb-elm-orient-vertical" data-plugin="Line">
                                                <div class="wb-elm-line"></div>
                                            </div>
                                            <div id="a191372e18610010289dffaa495db96d" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                                <div class="wb_picture_wrap">
                                                    <div class="wb-picture-wrapper" style="overflow: visible; display: flex"><svg xmlns="http://www.w3.org/2000/svg" width="1793.982" height="1793.982" viewBox="0 0 1793.982 1793.982" style="direction: ltr; color:#f00000"><text x="1.501415" y="1537.02" font-size="1792" fill="currentColor" style="font-family: &quot;FontAwesome&quot;"></text></svg></div>
                                                </div>
                                            </div>
                                            <div id="a188dd9a22121de999cb7487d78c60a0" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;"></div>
                                            <div id="a188dd9a22121ec24ffd9d67505a721d" class="wb_element wb-elm-orient-vertical" data-plugin="Line">
                                                <div class="wb-elm-line"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="a188dd9a22121f94440969b9f7d57b6a" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                        <div class="wb_content wb-layout-vertical">
                                            <div id="a188dd9a2212206dfdaf4f70d5b113bc" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                                <div class="wb_picture_wrap">
                                                    <div class="wb-picture-wrapper"><img alt="" src="gallery_gen/b741c788fd2cb770e749419852151a03_500x500_fit.png?ts=1723818424"></div>
                                                </div>
                                            </div>
                                            <div id="a188dd9a221221327f116ae9a6bdc3b3" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                                                <h3 class="wb-stl-heading3" style="text-align: center;">siz seçin biz fiyat alalım<span class="wb-stl-special">&nbsp;</span></h3>
                                            </div>
                                            <div id="a188dd9a221222f507215819bdca677e" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                                <div class="wb_content wb-layout-horizontal">
                                                    <div id="a188dd9a221224183b731e6d554bcbc4" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                                        <div class="wb_picture_wrap" style="height: 100%">
                                                            <div class="wb-picture-wrapper" style="overflow: visible; display: flex"><svg xmlns="http://www.w3.org/2000/svg" width="1793.982" height="1793.982" viewBox="0 0 1793.982 1793.982" style="direction: ltr; color:#1427e2"><text x="129.501415" y="1537.02" font-size="1792" fill="currentColor" style="font-family: &quot;FontAwesome&quot;"></text></svg></div>
                                                        </div>
                                                    </div>
                                                    <div id="a188dd9a221225bddec48338ca50aff9" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                                        <div class="wb_picture_wrap" style="height: 100%">
                                                            <div class="wb-picture-wrapper" style="overflow: visible; display: flex"><a href="https://dugundeyiz.com.tr/" data-popup-processed="true"><svg xmlns="http://www.w3.org/2000/svg" width="1793.982" height="1793.982" viewBox="0 0 1793.982 1793.982" style="direction: ltr; color:#d90011"><text x="1.501415" y="1537.02" font-size="1792" fill="currentColor" style="font-family: &quot;FontAwesome&quot;"></text></svg></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="a188dd9a22122aad1df24301dbf11986" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                <a name="Gallery" class="wb_anchor" data-popup-processed="true"></a>
                <div class="wb_content wb-layout-vertical">
                    <div id="a188dd9a221228037e290d8cfe47db18" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                        <p class="wb-stl-normal" style="text-align: center;">ÇÖZÜM ORTAKLARINIZ..</p>
                    </div>
                    <div id="a19136eedcc800ca708bfabf2cc4291f" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                        <div class="wb_content wb-layout-horizontal">
                            <div id="a188dd9a22122bdda4bcfa34ff5ae0b0" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                <div class="wb_content wb-layout-vertical">
                                    <div id="homePageItems" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                        <div class="wb_content wb-layout-horizontal">
                                            @foreach(var item in Model.Kategoriler)
                                            {
                                                <div id="homePageItemsMain" class="wb_element wb-layout-element" data-plugin="LayoutElement" style="cursor:pointer;    border-radius: 10px;" onclick="window.location.href='@Url.Action("Service", "Category", new { categoryName = item.CategoryName})'">
                                                    <div class="wb_content wb-layout-vertical">
                                                        <div id="homePageıtemImg" class="wb_element wb_element_picture" data-plugin="Picture" title="@item.CategoryName">
                                                            <div class="wb_picture_wrap">
                                                                <div class="wb-picture-wrapper" style="    border-radius: 10px;"><img alt="@item.CategoryName" src="@item.Image"></div>
                                                            </div>
                                                        </div>
                                                        <div id="homePageItemsText" class="wb_element wb_text_element wb-anim wb-anim-zoom-in" data-plugin="TextArea" style=" line-height: normal;">
                                                            <p style="text-align: center;"><span style="color:#e7d1d1;"><span style="background-color:transparent;"><span class="wb-stl-custom11">@item.CategoryName</span></span></span></p>
                                                        </div>
                                                    </div>
                                                </div>

                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="a191371083050025f516797e62e567e8" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                <div class="wb_content wb-layout-horizontal">
                    <div id="a188dd9a221230ac896f6114d9180b27" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                        <div class="wb_content wb-layout-horizontal">
                            <div id="a188dd9a221231ea22029a944d31d725" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                <div class="wb_content wb-layout-horizontal">
                                    <div id="a188dd9a2212328432d9d5f0f14c7513" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                        <div class="wb_content wb-layout-vertical">
                                            <div id="a191370c4056003d40484c3031d22e60" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                                <div class="wb_content wb-layout-horizontal">
                                                    <div id="a188dd9a221233c87f6c5e574377e196" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                                                        <h3 class="wb-stl-heading3"><span style="color:#ffffff;">İletişim</span></h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="a188dd9a2212346802855fc363c2a678" class="wb_element" data-plugin="Form">
                                                <form id="a188dd9a2212346802855fc363c2a678_form" class="wb_form wb_mob_form wb_form_ltr wb_form_vertical" method="post" enctype="multipart/form-data" action="https://dugundeyiz.com.tr/">
                                                    <input type="hidden" name="wb_form_id" value="c6c78d05"><input type="hidden" name="wb_form_uuid" value="391dff3d"><textarea name="message" rows="3" cols="20" class="hpc" autocomplete="off"></textarea>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>İsim<span class="text-danger">&nbsp;*</span></th>
                                                                <td>
                                                                    <input type="hidden" name="wb_input_0" value="İsim">
                                                                    <div><input class="form-control form-field" type="text" value="" placeholder="" maxlength="255" name="wb_input_0" required="required"></div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>E-posta<span class="text-danger">&nbsp;*</span></th>
                                                                <td>
                                                                    <input type="hidden" name="wb_input_1" value="E-posta">
                                                                    <div><input class="form-control form-field" type="text" value="" placeholder="" maxlength="255" name="wb_input_1" required="required"></div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>Katılır mısın<span class="text-danger">&nbsp;*</span></th>
                                                                <td>
                                                                    <input type="hidden" name="wb_input_2" value="Katılır mısın">
                                                                    <div>
                                                                        <select class="form-control form-field" name="wb_input_2" required="required">
                                                                            <option disabled="" selected=""></option>
                                                                            <option value="0">Evet</option>
                                                                            <option value="1">Hayır</option>
                                                                        </select>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr class="area-row">
                                                                <th>Mesaj<span class="text-danger">&nbsp;*</span></th>
                                                                <td>
                                                                    <input type="hidden" name="wb_input_3" value="Mesaj">
                                                                    <div><textarea class="form-control form-field form-area-field" rows="4" placeholder="" name="wb_input_3" required="required"></textarea></div>
                                                                </td>
                                                            </tr>
                                                            <tr class="form-footer">
                                                                <td colspan="2" class="text-right"><button type="submit" class="btn btn-default"><span>Gönder</span></button></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </form>
                                                <script type="text/javascript">
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="a188dd9a2212352b5539f6ea554688c0" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                        <div class="wb_content wb-layout-vertical">
                                            <div id="a188dd9a22123881110d9d6effbcaad7" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;"></div>
                                            <div id="a188dd9a221236f92a35c0e1a55a65e2" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                                <div class="wb_picture_wrap">
                                                    <div class="wb-picture-wrapper"><img alt="" src="gallery_gen/327726bb6912c31369495adfc6706625_960x492_fit.png?ts=1723818424"></div>
                                                </div>
                                            </div>
                                            <div id="a191370fa6b500c13895cb841ad15e86" class="wb_element" data-plugin="Form">
                                                <form id="a191370fa6b500c13895cb841ad15e86_form" class="wb_form wb_vertical_form wb_form_ltr wb_form_horizontal inline" method="post" enctype="multipart/form-data" action="https://dugundeyiz.com.tr/">
                                                    <input type="hidden" name="wb_form_id" value="7f6c15b7"><input type="hidden" name="wb_form_uuid" value="00e08eee"><textarea name="message" rows="3" cols="20" class="hpc" autocomplete="off"></textarea>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>E-posta<span class="text-danger">&nbsp;*</span></th>
                                                                <td>
                                                                    <input type="hidden" name="wb_input_0" value="E-posta">
                                                                    <div><input class="form-control form-field" type="email" value="" placeholder="" name="wb_input_0" required="required"></div>
                                                                </td>
                                                            </tr>
                                                            <tr class="form-footer">
                                                                <th></th>
                                                                <td colspan="1" class="text-left"><button type="submit" class="btn btn-default"><span>Abone Ol</span></button></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </form>
                                                <script type="text/javascript">
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="a188dd9a2212392bf5a8de86d5e1ca7c" class="wb_element wb-layout-element wb-layout-has-link" data-plugin="LayoutElement">
                <a name="Location" class="wb_anchor" data-popup-processed="true"></a><a class="wb-layout-link" href="https://www.google.com/maps/dir//maya+center+etiler/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x14cab650429ab09d:0xf94afe9b869417c2?sa=X&amp;ved=1t:3061&amp;hl=tr&amp;ictx=111 " data-popup-processed="true"></a>
                <div class="wb_content wb-layout-vertical">
                    <div id="a188dd9a22123a242cfbe50730f4f0ef" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                        <div class="wb_content wb-layout-vertical">
                            <div id="a188dd9a22123b2285086783a3549d21" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                <div class="wb_content wb-layout-vertical">
                                    <div id="a188dd9a22123c489ca1132899c3d536" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                                        <h2 class="wb-stl-heading2" style="text-align: center;">11 OCAK 2024</h2>
                                    </div>
                                    <div id="a188dd9a22123dc6507b2deff54ce964" class="wb_element" data-plugin="Button"><a class="wb_button" href="https://dugundeyiz.com.tr/" data-popup-processed="true"><span>Detayları gör</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="a188dd9a22123e3e126f89f0e7b2474f" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                        <div class="wb_content wb-layout-vertical">
                            <div id="a188dd9a22123feece909c8b46e8da69" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                                <h2 class="wb-stl-heading2" style="text-align: center;"><span style="color:rgba(77,77,77,1);">Ne zaman nerede</span></h2>
                            </div>
                            <div id="a188dd9a221240150888309d6c5531ac" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                                <p class="wb-stl-normal" style="text-align: center;"><span style="color:rgba(212,141,0,1);">Düğün</span></p>
                            </div>
                            <div id="a188dd9a221241d38a3b1f3c4200bffc" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                <div class="wb_content wb-layout-horizontal">
                                    <div id="a188dd9a221242927498791e355b0c42" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                        <div class="wb_content wb-layout-vertical">
                                            <div id="a188dd9a221243f76b075b80e1665328" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                                <div class="wb_picture_wrap">
                                                    <div class="wb-picture-wrapper" style="overflow: visible; display: flex"><svg xmlns="http://www.w3.org/2000/svg" width="1793.982" height="1793.982" viewBox="0 0 1793.982 1793.982" style="direction: ltr; color:#d97700"><text x="193.501415" y="1537.02" font-size="1792" fill="currentColor" style="font-family: &quot;FontAwesome&quot;"></text></svg></div>
                                                </div>
                                            </div>
                                            <div id="a188dd9a221244ffb56f16edcd9d163d" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                                                <h2 class="wb-stl-heading2" style="text-align: center;">Seremoni</h2>
                                            </div>
                                            <div id="a188dd9a2212459d2f6e4ff2741fee70" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                                                <p class="wb-stl-normal" style="text-align: center;">Şirketimizle ilgili en son bilgiyi burada bulacaksınız. Şirketimizle ilgili en son...</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="a188dd9a2212469f2160d1e8b5b82b94" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                        <div class="wb_content wb-layout-vertical">
                                            <div id="a188dd9a22124776adf72f43b2670ddb" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                                <div class="wb_picture_wrap">
                                                    <div class="wb-picture-wrapper" style="overflow: visible; display: flex"><svg xmlns="http://www.w3.org/2000/svg" width="1793.982" height="1793.982" viewBox="0 0 1793.982 1793.982" style="direction: ltr; color:#d97700"><text x="1.501415" y="1537.02" font-size="1792" fill="currentColor" style="font-family: &quot;FontAwesome&quot;"></text></svg></div>
                                                </div>
                                            </div>
                                            <div id="a188dd9a2212484c0150da749f7a244c" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                                                <h2 class="wb-stl-heading2" style="text-align: center;">Hakkımızda</h2>
                                            </div>
                                            <div id="a188dd9a2212491b1e7e4422c756cc16" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                                                <p class="wb-stl-normal" style="text-align: center;">Şirketimizle ilgili en son bilgiyi burada bulacaksınız. Şirketimizle ilgili en son...</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="a188dd9a22124aca08074e82b1036180" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                        <div class="wb_content wb-layout-vertical">
                                            <div id="a188dd9a22124bb1602d6eb9496ddea7" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                                <div class="wb_picture_wrap">
                                                    <div class="wb-picture-wrapper" style="overflow: visible; display: flex"><svg xmlns="http://www.w3.org/2000/svg" width="1793.982" height="1793.982" viewBox="0 0 1793.982 1793.982" style="direction: ltr; color:#d97700"><text x="1.501415" y="1537.02" font-size="1792" fill="currentColor" style="font-family: &quot;FontAwesome&quot;"></text></svg></div>
                                                </div>
                                            </div>
                                            <div id="a188dd9a22124c87046b3b6d466844f6" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                                                <h2 class="wb-stl-heading2" style="text-align: center;">İstekleriniz</h2>
                                            </div>
                                            <div id="a188dd9a22124dbe6a6e581a4bf617ed" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                                                <p class="wb-stl-normal" style="text-align: center;">Şirketimizle ilgili en son bilgiyi burada bulacaksınız. Şirketimizle ilgili en son...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="a188dd9a22124eea730644c9a50d6594" class="wb_element wb-map wb-prevent-layout-click" data-plugin="GoogleMaps">
                        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=41.06818,%2029.00918&amp;sensor=false&amp;libraries=places&amp;region=TR&amp;language=tr_TR"></script>
                        <div class="wb_google_maps" style="width: 100%;height: 100%">
                            <div style="height: 100%; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>