@using Dugundeyiz.ViewModels
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model CategoryListPageViewModel
<style>
    .custom-category-container {
        margin-top: 20px;
    }

    .custom-category-card {
        margin-bottom: 20px;
        padding: 10px;
    }


    .custom-category-content {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 15px;
        text-align: center;
        transition: transform 0.3s ease;
        height: 367px !important;
        background-color: #ece4d4;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2), 0 16px 12px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

        .custom-category-content:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 5px 15px rgba(0, 0, 0, 0.1);
            cursor:pointer; 
        }

    .custom-category-image {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .custom-category-title {
        font-size: 18px;
        font-weight: 600;
        color: #333;
        margin-bottom: 5px;
        padding-top: 10px;
    }

    .custom-category-description {
        font-size: 14px;
        color: #777;
    }

</style>
<div id="wb_root" class="root wb-layout-vertical">

    <div id="wb_main_home" class="wb_element wb-layout-element" data-plugin="LayoutElement" style="min-height: 322px;">
        <div class="wb_content wb-layout-vertical">


            <div id="wb_main_home_partners" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                <a name="Gallery" class="wb_anchor" data-popup-processed="true"></a>
                <div class="wb_content wb-layout-vertical">
                    <div id="" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;margin-top: 25px; padding: 20px;">
                        <p class="wb-stl-normal" style="text-align: center;">ÇÖZÜM ORTAKLARINIZ..</p>
                    </div>
                    <div id="" class="" data-plugin="LayoutElement">
                        <div class="container custom-category-container">
                            <div class="row">
                                <!-- Foreach döngüsü buraya -->
                                @foreach (var item in Model.Categories)
                                {
                                    <div class="col-6 col-md-4 col-lg-3 col-xl-2 col-2 custom-category-card" onclick="window.location.href='@Url.Action("ProductList", "Product", new { categoryName = item.CategoryName})'">
                                        <div class="custom-category-content">
                                            <div style="height:240px !important;">
                                                <img src="@item.Image" style="height:240px;" alt="Kategori Resmi" class="custom-category-image">
                                            </div>
                                            <div style="margin-bottom:10px">
                                                <h5 class="custom-category-title">@item.CategoryName</h5>
                                                @* <p class="custom-category-description">Kategori açıklaması buradabulunacak merhabalar deneme 123123.</p> *@
                                            </div>
                                        </div>
                                    </div>
                                }
                                <!-- Foreach döngüsü burada biter -->
                            </div>
                        </div>









                        @* <div id="homePageItems" class="row" data-plugin="LayoutElement">
                        <div class="wb_content wb-layout-horizontal">
                        @foreach (var item in Model.Categories)
                        {
                        <div id="homePageItemsMain" class="col-md-3" data-plugin="LayoutElement" style="cursor:pointer;    border-radius: 10px;" onclick="window.location.href='@Url.Action("ProductList", "Product", new { categoryName = item.CategoryName})'">
                        <div class="wb_content wb-layout-vertical wb-anim wb-anim-zoom-in">
                        <div id="homePageıtemImg" class="wb_element wb_element_picture" data-plugin="Picture" title="@item.CategoryName">
                        <div class="wb_picture_wrap">
                        <div class="wb-picture-wrapper" style="    border-radius: 10px;"><img alt="@item.CategoryName" src="@item.Image"></div>
                        </div>
                        </div>
                        <div id="homePageItemsText" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                        <p style="text-align: center;"><span style="color:black;"><span style="background-color:transparent;"><span class="wb-stl-custom11">@item.CategoryName</span></span></span></p>
                        </div>
                        </div>
                        </div>

                        }
                        </div>
                        </div> *@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    /* Özel CSS sınıfları */
    .custom-section {
        text-align: center;
        color: #fff;
        background-color: #000;
        padding: 70px;
        font-family: Arial, sans-serif;
    }

        .custom-section h2 {
            font-size: 24px;
            color: #555;
            margin-bottom: 5px;
        }

        .custom-section h3 {
            font-size: 20px;
            color: #f7931e;
            margin-bottom: 20px;
        }

    .custom-cards {
        display: flex;
        justify-content: center;
        gap: 43px;
        max-width: 1280px;
    }

    .custom-card {
        border: 2px dotted #888;
        padding: 20px;
        background-color: #000;
        position: relative;
        color: #fff;
    }

    .custom-icon {
        font-size: 30px;
        color: #f7931e;
        margin-bottom: 10px;
    }

    .custom-card h4 {
        font-size: 18px;
        color: #fff;
        margin-bottom: 10px;
    }

    .custom-card p {
        font-size: 14px;
        color: #aaa;
        line-height: 1.4;
    }

    /* Mobil uyum için */
    @@media (max-width: 768px) {
        .custom-cards {
            flex-direction: column;
            align-items: center;
        }

        .custom-card {
            width: 100%;
        }
    }

    .form-container-custom {
        background-color: white;
        border: 2px solid #ddd;
        border-radius: 15px;
        width: 400px;
        padding: 20px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        text-align: center;
        font-family: 'Times New Roman', serif;
    }

    /*         .form-container-custom::before {
                    content: '';
                    position: absolute;
                    top: -15px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: #ffebcd;
                    height: 10px;
                    width: 60%;
                    z-index: 10 !important;
                    border-radius: 50%;
                } */

    .header-custom {
        margin-bottom: 20px;
        position: relative;
        z-index: 43 !important;
    }

        .header-custom h1 {
            font-size: 24px;
            color: #333;
            font-weight: normal;
        }

        .header-custom p {
            font-size: 16px;
            color: #777;
        }

    #contact-form-custom label {
        display: block;
        font-size: 16px;
        margin: 10px 0 5px;
        color: #555;
    }

    #contact-form-custom input[type="text"],
    #contact-form-custom input[type="email"],
    #contact-form-custom textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 14px;
        margin-bottom: 15px;
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
    }

    #contact-form-custom button {
        background-color: #ffebcd;
        color: #333;
        padding: 10px 20px;
        border: none;
        border-radius: 50px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        #contact-form-custom button:hover {
            background-color: #ffdab9;
        }

        #contact-form-custom button:active {
            background-color: #ffc107;
        }

    /* InfoWindow stilini özelleştir */
    .custom-info-window {
        font-family: Arial, sans-serif;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        background-color: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
        display: flex; /* Flexbox ile yan yana yerleştirme */
        position: relative; /* Pozisyon ayarı */
    }

        .custom-info-window img {
            width: 100px; /* Fotoğraf boyutu */
            height: 100px; /* Fotoğraf boyutu */
            border-radius: 5px; /* Kenar yuvarlama */
            margin-right: 10px; /* Sağdan boşluk */
        }

        .custom-info-window h3 {
            margin: 0;
            font-size: 16px;
        }

        .custom-info-window p {
            margin: 5px 0;
        }

    .rating {
        display: flex; /* Yıldızları yan yana yerleştir */
        align-items: center; /* Yıldızları ortala */
        margin-top: 5px;
    }

    .star {
        color: gold; /* Dolu yıldız rengi */
        font-size: 18px; /* Yıldız boyutu */
    }

    .star-empty {
        color: lightgray; /* Boş yıldız rengi */
        font-size: 18px; /* Yıldız boyutu */
    }

    .rating-info {
        margin-left: 5px; /* Derecelendirme ve yıldızlar arasında boşluk */
    }

    .directions-button {
        position: absolute; /* Butonu pozisyonla */
        bottom: 10px; /* Üstten boşluk */
        right: 10px; /* Sağdan boşluk */
        background-color: #4285F4; /* Google mavi rengi */
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 12px;
    }

    @@media (max-width: 600px) {
        .custom-info-window {
            display: contents;
        }
    }
</style>