<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="~/js/validationTR.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <title>@ViewData["Title"] - Dugundeyiz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/mainStyles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Dugundeyiz.styles.css" asp-append-version="true" />
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" defer></script>
    <link href="~/css/mainstyles.css" rel="stylesheet" />
    <link rel="icon" type="image/gif" href="/gallery_gen/logoGif.gif">
    <link rel="icon" type="image/png" href="/gallery_gen/logoMain.png">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-19MLQZ9P0S"></script>
    <link href="~/css/multiselect.css" rel="stylesheet" type="text/css" />
    <script src="~/js/multiselect.js"></script>
</head>
<style>
    .modal-Design {
        background-color: #ece4d4;
        overflow: auto;
        overflow-x: hidden;
        padding: 8px;
        border-radius: 9px;
    }

    .modal-dialog {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 35px;
    }

    .dropdown-menu-partner {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgb(0 0 0 / .15);
        border-radius: 0;
        -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / .175);
        box-shadow: 0 6px 12px rgb(0 0 0 / .175);
        display: none; /* Başlangıçta gizli */
        position: absolute; /* Dinamik konumlandırma için */
        z-index: 1000;
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        min-width: 200px;
    }

    .dropdown-menu-partner {
        display: none;
        position: absolute;
        z-index: 1000;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 5px;
        min-width: 200px;
        max-height: 300px; /* Maksimum yükseklik */
        overflow-y: auto; /* Dikey kaydırma */
        padding: 0; /* İç boşluk kaldır */
    }

        .dropdown-menu-partner .sticky-header {
            position: sticky; /* Sabit pozisyon */
            top: 0; /* Üstte sabitle */
            background-color: white; /* Arka plan rengi */
            z-index: 10; /* Üstte kalmasını sağla */
            border-bottom: 1px solid #ccc; /* Ayırıcı çizgi */
        }

        .dropdown-menu-partner.pull-right {
            right: 0;
            left: auto
        }

        .dropdown-menu-partner .divider {
            height: 1px;
            margin: 9px 0;
            overflow: hidden;
            background-color: #e5e5e5
        }

        .dropdown-menu-partner > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap
        }

            .dropdown-menu-partner > li > a:hover, .dropdown-menu-partner > li > a:focus {
                color: #262626;
                text-decoration: none;
                background-color: #f5f5f5
            }

        .dropdown-menu-partner > .active > a, .dropdown-menu-partner > .active > a:hover, .dropdown-menu-partner > .active > a:focus {
            color: #fff;
            text-decoration: none;
            background-color: #337ab7;
            outline: 0
        }

        .dropdown-menu-partner > .disabled > a, .dropdown-menu-partner > .disabled > a:hover, .dropdown-menu-partner > .disabled > a:focus {
            color: #777
        }

            .dropdown-menu-partner > .disabled > a:hover, .dropdown-menu-partner > .disabled > a:focus {
                text-decoration: none;
                cursor: not-allowed;
                background-color: #fff0;
                background-image: none;
                filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
            }

    .open > .dropdown-menu-partner {
        display: block
    }

    .open > a {
        outline: 0
    }

    .dropdown-menu-partner-right {
        right: 0;
        left: auto
    }

    .dropdown-menu-partner-left {
        right: auto;
        left: 0
    }
    /* Varsayılan durum: Dropdown menü kapalı */ /* Varsayılan durum: Kapalı menü */
    .submenu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.7s ease-in-out; /* Animasyon her açılma ve kapanma sırasında çalışır */
        background-color: #f9f9f9;
        display: grid;
        grid-template-columns: 1fr; /* Varsayılan tek sütun */
        gap: 10px;
        padding: 0;
        margin: 0;
        border-radius: 5px;
        z-index: 9999;
    }

    /* Responsive: İki sütun düzeni */
    .submenu {
        grid-template-columns: repeat(2, 1fr); /* İki sütun düzeni */
    }

    .modal-content {
        padding: 26px;
        background-color: #ece4d4;
    }

    /* Alt menü elemanları */
    .submenu li {
        padding: 10px 15px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

        .submenu li a {
            color: #333;
            text-decoration: none;
            font-size: 14px;
            display: block;
            text-align: center;
        }

        .submenu li:hover {
            background-color: #f0f0f0;
        }

    /* Buton stili */
    .dropdown-toggle-partner {
        background-color: #fff;
        color: #333;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        text-align: left;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
    }

        .dropdown-toggle-partner:hover {
            background-color: #f0f0f0;
        }

    .dropdown-toggle {
        background-color: #fff;
        color: #333;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        text-align: left;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
    }

        .dropdown-toggle:hover {
            background-color: #f0f0f0;
        }

    /* Responsive sütun düzeni */

    .dropdown .submenu {
        grid-template-columns: repeat(2, 1fr); /* İki sütun düzeni */
    }


    /* Genel ayarlar */
    #regularHeaderView {
        display: block;
    }

    #mobileHeaderView {
        display: none;
        top: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .mobile-header-container {
        background-color: #ece4d4;
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        width: 100%;
        height: 66px;
        box-shadow: inset 0px -2px 3px 0px rgba(0, 0, 0, 0.15), 0 15px 20px rgba(0, 0, 0, 0.2) !important;
        transition: all 0.3s ease; /* Yumuşak geçiş için */
    }

    .mobile-header-fixed {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        background-color: #f8f8f8; /* Arka plan */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        width: 100%;
        box-shadow: inset 0px -2px 3px 0px rgba(0, 0, 0, 0.15), 0 15px 20px rgba(0, 0, 0, 0.2) !important;
    }
    /* Hamburger menü */
    .hamburger-menu {
        cursor: pointer;
    }

        .hamburger-menu span {
            display: block;
            width: 25px;
            height: 3px;
            margin: 4px 0;
            background-color: #333;
        }

    /* Giriş butonları */
    .mobile-login-buttons button {
        margin-left: 10px;
        padding: 8px 15px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
    }

        .mobile-login-buttons button:hover {
            background-color: #ddd;
        }

    /* Ekran boyutuna göre görünüm */
    @@media (max-width: 990px) {
        #regularHeaderView {
            display: none;
        }

        #mobileHeaderView {
            display: flex;
            flex-direction: column;
        }
    }

    /* Hamburger Menü */
    .hamburger-menu {
        cursor: pointer;
        top: 15px;
        left: 15px;
        z-index: 9999;
    }

        .hamburger-menu span {
            display: block;
            width: 30px;
            height: 3px;
            margin: 5px 0;
            background-color: #333;
        }

    /* Side Menü */
    .side-menu {
        position: fixed;
        top: 0;
        left: -300px; /* Başlangıçta gizli */
        width: 300px;
        height: 100vh;
        background-color: #ece4d4;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        z-index: 9998;
        transition: left 0.3s ease-in-out;
    }

        .side-menu.active {
            left: 0; /* Menü açıldığında */
        }

    .menu-header {
        padding-left: 50px;
        padding-right: 13px;
        text-align: end;
        background-color: #f8f8f8;
        border-bottom: 1px solid #ddd;
        font-size: 16px;
        font-weight: bold;
        height: 58px;
        display: flex;
        align-items: center;
    }

    .menu-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .menu-list li {
            padding: 15px 20px;
            border-bottom: 1px solid #ddd;
        }

        .menu-list a {
            text-decoration: none;
            color: #333;
            display: block;
        }

        .menu-list .dropdown-toggle-menu {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 16px;
            color: #333;
            text-align: left;
            width: 100%;
            box-shadow: none;
            padding-left: 0;
        }

    .submenu {
        display: none;
        list-style: none;
        padding: 15px;
        box-shadow: -2px 8px 4px 5px rgba(0, 0, 0, 0.2);
        position: fixed;
        margin-right: -50px;
        overflow: auto;
        height: 464px !important;
    }


        .submenu li {
            padding: 10px 0;
        }

        .submenu a {
            color: #555;
        }

</style>
<body>
    <header>
        @* <div class="translateCSS" style="display: flex;align-items: center;max-width: 110px;height: 67px;position: absolute; right: 3px;top:5px; flex-direction: column;z-index: 9999;">
        <i class="fa-solid fa-language" style=" color: #1a1ad5; font-size: 27px;"></i>
        <div style="padding: 5px; display: flex; flex-direction: column; align-items: center;">
        <p> Language </p>
        </div>
        <div id="google_translate_element"></div>
        </div> *@
        <div class="container-fluid container mainHeadercontainer" id="regularHeaderView" style="">
            <div class="row" style="    height: 334px;">
                <div class="col-md-2 col-sm-12 d-flex justify-content-center align-items-center" style="    display: grid !important;    margin-bottom: -85px;">
                    <div class="wb-picture-wrapper" style="max-width:100%; text-align: center;">
                        <a href="/" alt="Anasayfa" title="Ana Sayfa">
                            <div class="logo-container">
                                <div class="outer-ring">
                                    <img src="~/gallery_gen/oie_1.png" alt="Dönen Çember">
                                </div>
                                <div class="center-content">
                                    <img src="~/gallery_gen/oie_transparent_2.png" alt="Sabit Merkez">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-10 col-sm-12" style="    padding-right: 0px;">
                    <div style=" margin-top: 10px; margin-left: 125px;">





                        <img src="~/gallery_gen/topBanner.png" style="width:99%;max-height:324px;border-radius:10px;box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 5px 15px rgba(0, 0, 0, 0.1);}" alt="Sabit Merkez">


                    </div>




                </div>

            </div>
            <div class="row d-flex justify-content-center align-items-center" style="">
                <div id="a191279ef45700604ebc65511671a891" class="row wb_element wb-layout-element" style="    display: flex;justify-content: space-evenly;max-width: 1300px;">

                    <div style="margin-top: 10px;display: grid;justify-items: end;display: flex;    justify-content: space-between;    margin-bottom: 10px;">

                        <div style="display: flex;align-items: flex-end;">
                            <p class="shining-text">
                                Kendinizi her adımda özel hissedin diye "düğündeyiz"..
                            </p>
                        </div>
                        <div id="search-wrapper" style="background-color: white;margin-bottom:5px;" class="search-expanded">
                            <form asp-controller="Hizmetler" asp-action="Search" method="get" style="    height: 50px; display: flex; align-items: center;">
                                <input type="text" id="search" name="search" placeholder="Sitede ara...">
                                <i class="fa-solid fa-magnifying-glass" style="position: absolute; right: 15px; top: 50%; transform: translateY(-50%); color: #888; font-size: 24px;"></i>
                            </form>
                        </div>
                    </div>

                    <div class="wb_content wb-layout-horizontal" style="">
                        <div id="a191279cc01800f8623ea93fa51d753a" class="wb_element wb-menu wb-prevent-layout-click wb-menu-mobile" style="">
                            <ul class="hmenu header-Menu-Custom" dir="ltr" style="    display: flex;        align-items: flex-start;   padding-left: 20px !important;">
                                <li id="menu-item" class="menu-navbar-items ">
                                    <div class="logo-container2">
                                        <div class="logo-back-mini">
                                            <div class="outer-ring2">
                                                <img src="/gallery_gen/oie_1-ezgif.com-resize.png" style="" alt="Dönen Çember">
                                            </div>
                                            <div class="center-conten2">
                                                <img src="~/gallery_gen/oie_transparent_2.png" style="" alt="Sabit Merkez">
                                            </div>
                                        </div>
                                    </div>
                                    <a style="padding-left: 0px; cursor: pointer;" class="menu-navbar-item-text">Düğün Mekanları</a>
                                    @await Component.InvokeAsync("LayoutData")

                                </li>
                                <li id="menu-item-categories" class="menu-navbar-items">
                                    <div class="logo-container2">
                                        <div class="logo-back-mini">
                                            <div class="outer-ring2">
                                                <img src="~/gallery_gen/oie_1-ezgif.com-resize.png" style="" alt="Dönen Çember">
                                            </div>
                                            <div class="center-conten2">
                                                <img src="~/gallery_gen/oie_transparent_2.png" style="" alt="Sabit Merkez">
                                            </div>
                                        </div>
                                    </div>
                                    <a href="@Url.Action("Index", "Product")" class="menu-navbar-item-text">Çözüm Ortakları</a>
                                    @await Component.InvokeAsync("LayoutDataCategories")

                                </li>
                                <li class="menu-navbar-items ">
                                    <a href="@Url.Action("Campaigns", "Product")" style="    display: flex">
                                        <div class="logo-container2">
                                            <div class="logo-back-mini">
                                                <div class="outer-ring2">
                                                    <img src="~/gallery_gen/oie_1-ezgif.com-resize.png" style="" alt="Dönen Çember">
                                                </div>
                                                <div class="center-conten2">
                                                    <img src="~/gallery_gen/oie_transparent_2.png" style="" alt="Sabit Merkez">
                                                </div>
                                            </div>
                                        </div> <h2 class="menu-navbar-item-text" style="line-height:26px;">Kampanyalar</h2>
                                    </a>
                                </li>
                                <li class="menu-navbar-items  ">
                                    <div class="logo-container2">
                                        <div class="logo-back-mini">
                                            <div class="outer-ring2">
                                                <img src="~/gallery_gen/oie_1-ezgif.com-resize.png" style=" alt="Dönen Çember">
                                            </div>
                                            <div class="center-conten2">
                                                <img src="~/gallery_gen/oie_transparent_2.png" style="" alt="Sabit Merkez">
                                            </div>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0);" class="menu-navbar-item-text" id="openNedimeModal">Nedimeniz</a>
                                </li>
                                <li class="menu-navbar-items  ">
                                    <div class="logo-container2">
                                        <div class="logo-back-mini">
                                            <div class="outer-ring2">
                                                <img src="~/gallery_gen/oie_1-ezgif.com-resize.png" style=" alt="Dönen Çember">
                                            </div>
                                            <div class="center-conten2">
                                                <img src="~/gallery_gen/oie_transparent_2.png" style="" alt="Sabit Merkez">
                                            </div>
                                        </div>
                                    </div><a href="@Url.Action("Index", "Hakkimizda")" class="menu-navbar-item-text">Hakkımızda</a>
                                </li>
                                <li class="menu-navbar-items ">
                                    <div class="logo-container2">
                                        <div class="logo-back-mini">
                                            <div class="outer-ring2">
                                                <img src="~/gallery_gen/oie_1-ezgif.com-resize.png" style=" alt="Dönen Çember">
                                            </div>
                                            <div class="center-conten2">
                                                <img src="~/gallery_gen/oie_transparent_2.png" style="" alt="Sabit Merkez">
                                            </div>
                                        </div>
                                    </div><a href="@Url.Action("Index", "Iletisim")" class="menu-navbar-item-text">İletişim</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div id="login-data-container">
                        <div class="" style="">
                            @await Component.InvokeAsync("LoginData")


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="mobileHeaderView" class="mobile-header">


            <div class="row" style=" max-height:182px;     margin-bottom: -32px; margin-top: 15px; ">
                <div class="col-3 d-flex justify-content-center align-items-center" style="    display: grid !important;    margin-bottom: -85px;">
                    <div class="wb-picture-wrapper" style="max-width:100%; text-align: center;">
                        <a href="/" alt="Anasayfa" title="Ana Sayfa">
                            <div class="logo-container" style="    margin: 0;    margin-top: -56px;">
                                <div class="outer-ring">
                                    <img src="~/gallery_gen/oie_1.png" alt="Dönen Çember" style="    object-fit: contain; width: 150px;">
                                </div>
                                <div class="center-content">
                                    <img src="~/gallery_gen/oie_transparent_2.png" alt="Sabit Merkez" style="    margin-left: 30px;    width: 82%;">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-9" style="    padding-right: 0px;display: flex;align-items: center;margin-top: -36px;">
                    <div style=" padding-left: 26px; padding-right: 40px;">
                        <img src="~/gallery_gen/topBanner.png" style="width:110%;border-radius:10px;box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 5px 15px rgba(0, 0, 0, 0.1);};max-height:140px;padding-right:10px;" alt="Sabit Merkez">
                    </div>
                </div>
            </div>
            <div style="margin-top:15px;">
                <div class="mobile-header-container">
                    <!-- Hamburger Menü -->
                    <div class="hamburger-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                    <!-- Soldan Açılan Menü -->
                    <div id="sideMenu" class="side-menu">
                        <div class="menu-header">
                            <div style="display: flex;align-items: flex-end;">
                                <p class="shining-text" style="font-size:13px;">
                                    Kendinizi her adımda özel hissedin diye "düğündeyiz"..
                                </p>
                            </div>
                        </div>
                        <ul class="menu-list">
                            <li class="dropdown">
                                <button class="dropdown-toggle dropdown-toggle-menu ">Düğün Mekanları</button>
                                <ul class="submenu" id="speacialCategoryList">

                                    <!-- Daha fazla seçenek buraya eklenebilir -->
                                </ul>
                            </li>
                            <li class="dropdown">
                                <button class="dropdown-toggle dropdown-toggle-menu ">Çözüm Ortakları</button>
                                <ul class="submenu" id="categoryList" style="max-width: 86%;">

                                    <!-- Daha fazla seçenek buraya eklenebilir -->
                                </ul>
                            </li>

                            <li><a href="#">Kampanyalar</a></li>
                            <li><a href="javascript:void(0);" id="openNedimeModal3">Nedimeniz</a></li>
                            <li><a href="@Url.Action("Index", "Hakkimizda")">Hakkımızda</a></li>
                            <li><a href="@Url.Action("Index", "Iletisim")">İletişim</a></li>
                        </ul>
                    </div>

                    <div style="display: flex;align-items: flex-end;">
                        <p class="shining-text" style="font-size:13px;">
                            Kendinizi her adımda özel hissedin diye "düğündeyiz"..
                        </p>
                    </div>
                    <div class="mobile-login-buttons">
                        @await Component.InvokeAsync("LoginData")

                    </div>
                </div>
            </div>





        </div>

    </header>

    <div style="max-height:80px;margin-bottom: -26px;">
        <hr style="margin-top:-9px" />
    </div>
    <div class="">
        <main role="main" class="" style=" ">
            @RenderBody()
        </main>
    </div>
    <div class="custom-modal" id="userMobilLogin">
        <div class="modal-dialog">
            <div class="modal-content" style="margin:0px !important">
                <div class="modal-header">
                    <h5 class="modal-title" id="userMobilLoginLabel">Çiftlerimize Özel Giriş</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="userMobilLoginError" class="alert alert-danger d-none" role="alert"></div>

                    <form>
                        <div class="mb-3">
                            <label for="user-username" class="form-label">Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="userMobil-username" required>
                        </div>
                        <div class="mb-3">
                            <label for="user-password" class="form-label">Şifre</label>
                            <input type="password" class="form-control" id="userMobil-password" required>
                        </div>

                        <button type="submit" id="userLoginMobil" class="btn btn-primary">Giriş Yap</button>
                        <div class="mb-3" style="padding-top:10px;">
                            <a href="#" class="text-primary ms-3" id="openUserModal2">Üye Ol </a>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-modal" id="partnerMobilLogin">
        <div class="modal-dialog">
            <div class="modal-content" style="margin:0px !important">
                <div class="modal-header">
                    <h5 class="modal-title" id="partnerMobilLoginLabel">Çözüm Ortaklarımıza Özel Giriş</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="partnerMobilLoginError" class="alert alert-danger d-none" role="alert"></div>

                    <form>
                        <div class="mb-3">
                            <label for="partner-username" class="form-label">Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="partnerMobil-username" required>
                        </div>
                        <div class="mb-3">
                            <label for="partner-password" class="form-label">Şifre</label>
                            <input type="password" class="form-control" id="partnerMobil-password" required>
                        </div>

                        <button type="submit" id="partnerLoginMobil" class="btn btn-primary">Giriş Yap</button>
                        <div class="mb-3" style="padding-top:10px;">
                            <a href="#" class="text-primary ms-3" id="openPartnerModal2">Çözüm Ortaklarımıza Katıl </a>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="nedimeModal" class="nedime-modal">
        <div class="nedime-modal-content">
            <span class="nedime-modal-close">&times;</span>
            <div class="nedime-modal-body">
                <img src="~/gallery_gen/mainLogoNoBack.png" alt="" class="nedime-modal-image">
                <p style="    font-size: 17px;">
                    <strong>Nedimeniz</strong>, düğün gününüzde her şeyin yolunda gitmesi için
                    organizasyonunuzun en başından sonuna kadar desteğe ihtiyaç duyduğunuz her anda
                    yanınızda olacak. Anlaşmalı çözüm ortaklarımızla iletişime geçmenizde size yol
                    gösterecek; fikir ve önerileri ile en güzel gününüzün kusursuz geçmesine katkı
                    sağlayacak. Ayrıca, tüm ihtiyaçlarınızı anlayan, güler yüzlü ve çözüm odaklı
                    yaklaşımıyla, yalnızca düğün gününüzde değil, hazırlık sürecinde de sizin en büyük
                    destekçiniz olacak.
                </p>
                <p style="    font-size: 17px;">
                    Hayalinizdeki düğünü gerçekleştirirken her detayda yanınızda olacak bir destek
                    ekibi arıyorsanız,   <strong style="color: #a79884;">düğündeyiz</strong> tam da size göre.
                </p>
            </div>
        </div>
    </div>
    <div id="customerModal" class="custom-modal">
        <div id="customerModalInside" class="modal-content">
            <span class="close-modal" onclick="HidePartnerModal()">&times;</span>
            <h3 style="text-align:center;font-size:18px;">Yeni üye Formu</h3>
            <hr style="margin: 0;margin-top: 5px;margin-bottom: 5px;border-bottom:1px solid black !important" />
            <div id="mainMemberSignUpError" class="alert alert-danger d-none" role="alert"></div>

            <div>
                <label for="username">Kullanıcı Adı</label>
                <input type="text" id="customerUsername" placeholder="Kullanıcı Adınızı Girin" required>
                <span class="error-message">Kullanıcı adı zorunludur.</span>
            </div>
            <div>
                <label for="name">Ad Soyad</label>
                <input type="text" id="customerName" placeholder="Adınızı ve Soyadınızı  Girin" required>
                <span class="error-message">Kullanıcı adı zorunludur.</span>

            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="customerEmail" placeholder="Email Adresinizi Girin" required>
                <span class="error-message">Kullanıcı adı zorunludur.</span>

            </div>
            <div>
                <label for="phone">Telefon</label>
                <input type="text" id="customerPhone" placeholder="Telefon Numaranızı Girin" maxlength="13" required>
                <span class="error-message">Kullanıcı adı zorunludur.</span>

            </div>
            <div>
                <label for="password">Şifre</label>
                <input type="password" id="customerPassword" placeholder="Şifrenizi Girin" required>
                <span class="error-message">Kullanıcı adı zorunludur.</span>

            </div>
            <div>
                <label for="password">Şifre Onay</label>
                <input type="password" id="customerPasswordCheck" placeholder="Şifrenizi Tekrar Girin" required>
                <span class="error-message">Kullanıcı adı zorunludur.</span>

            </div>
            <button type="submit" id="customerSignUpSubmit" class="submit-btn">Üye Ol</button>
        </div>
    </div>

    <div id="partnerModal" class="custom-modal" style="">
        <div id="partnerModalInside" class="modal-content">
            <span class="close-modal" onclick="hidePartnerModal()">&times;</span>
            <h3 style="text-align:center;font-size:18px;padding-bottom:5px;">Çözüm Ortağı Başvuru Formu</h3>
            <hr style="margin: 0;margin-top: 5px;margin-bottom: 5px;" />
            <div id="mainPartnerSignUpError" class="alert alert-danger d-none" role="alert"></div>

            <div class="modal-Design">
                <div class="row">
                    <div class="col-md-6">
                        <label for="partnerUsername">Kullanıcı Adı</label>
                        <input type="text" id="partnerUsername" placeholder="Kullanıcı Adınızı Girin" required />
                        <span class="error-message">Kullanıcı Adı Zorunludur</span>
                    </div>
                    <div class="col-md-6">
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="partnerName">Ad</label>
                        <input type="text" id="partnerName" placeholder="Adınızı Girin" required />
                        <span class="error-message">Ad Bilgisi Zorunludur</span>
                    </div>
                    <div class="col-md-6">
                        <label for="partnerName">Soyad</label>
                        <input type="text" id="partnerSurname" placeholder="Soyadınızı Girin" required />
                        <span class="error-message">Soyad Bilgisi Zorunludur</span>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="partnerEmail">Email</label>
                        <input type="email" id="partnerEmail" placeholder="Email Adresinizi Girin" required />
                        <span class="error-message">Email Bilgisi Zorunludur</span>
                    </div>
                    <div class="col-md-6">
                        <label for="partnerPhone">Telefon</label>
                        <input type="text" id="partnerPhone" placeholder="Telefon Numaranızı Girin" required maxlength="13"  />
                        <span class="error-message">Telefon Bilgisi Zorunludur</span>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="partnerPassword">Şifre</label>
                        <input type="password" id="partnerPassword" placeholder="Şifrenizi Girin" required />
                        <span class="error-message">Bu Alan Zorunludur</span>
                    </div>
                    <div class="col-md-6">
                        <label for="partnerPasswordCheck">Şifre Onay</label>
                        <input type="password" id="partnerPasswordCheck" placeholder="Şifrenizi Tekrar Girin" required />
                        <span class="error-message">Bu Alan Zorunludur</span>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="partnerCompanyName">Firma Adı</label>
                        <input type="text" id="partnerCompanyName" placeholder="Firma Adınızı Girin" required />
                        <span class="error-message">Bu Alan Zorunludur</span>
                    </div>
                    <div class="col-md-6">
                        <label for="partnerAddress">Firma Açık Adresi</label>
                        <textarea class="form-control " id="partnerAddress" placeholder="Firma Adresini Girin" value=" " rows="2" cols="50" required style="border-color:black"></textarea>
                        <span class="error-message">Bu Alan Zorunludur</span>

                    </div>

                </div>
                <div class="row" style="padding-bottom:20px;">
                    <div class="col-md-6">
                        <label>Şehir</label>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle-partner" id="cityDropdown" type="button" aria-expanded="false">
                                Şehir Seç
                            </button>
                            <ul class="dropdown-menu-partner" id="cityDropdownMenu" style="    overflow: auto; max-height: 300px;"></ul>
                        </div>
                        <span class="error-message">Bu Alan Zorunludur</span>
                    </div>
                    <div class="col-md-6">
                        <label>İlçe</label>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle-partner" id="districtDropdown" type="button" aria-expanded="false" disabled>
                                İlçe Seç
                            </button>
                            <ul class="dropdown-menu-partner" id="districtDropdownMenu" style="    overflow: auto; max-height: 300px;"></ul>
                        </div>
                        <span class="error-message">Bu Alan Zorunludur</span>

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                    </div>

                </div>
                <div>
                    <div style="    text-align: center;padding-top:10px;">
                        <button id="partnerSignUpSubmit" class="submit-btn">Çözüm ortaklarına Katıl</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Site footer -->
    <footer class="site-footer" style="; color:black">
        <div class="container">
            <div class="row" style="color: black;">
                <div class="col-sm-12 col-md-6" style="    padding-bottom: 15px;">
                    <h6 style="color:black;    padding-bottom: 10px;">Hakkında</h6>
                    <p class="text-justify">
                        Düğündeyiz, düğün organizasyonunuza dair tüm ihtiyaçları tek bir çatı altında sunan kapsamlı bir platformdur. Hayalinizdeki düğünü gerçeğe dönüştürmek için mekan seçiminden dekorasyona, müzikten fotoğrafçılığa kadar her türlü hizmeti kolayca bulabileceğiniz bir adresiz. Profesyonel iş ortaklarımızla unutulmaz anlarınızı planlarken yanınızdayız.
                    </p>
                </div>

                <div class="col-xs-6 col-md-3" style="color:black">
                    <h6 style="    text-align: center;color:black">Sosyal Medya</h6>
                    <br />
                    <ul style="    text-align: center;" class="social-icons">
                        <li><a class="facebook" href="/"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="/"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="instagram" href="/"><i class="fa fa-instagram"></i></a></li>
                        <li><a class="linkedin" href="/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6 style="color:black;    padding-bottom: 10px;">Hızlı Linkler</h6>
                    <ul class="footer-links">
                        <li><a href="@Url.Action("Index", "Hakkimizda")">Hakkımızda</a></li>
                        <li><a href="@Url.Action("Index", "Iletisim")">İletişim</a></li>
                        <li><a href="javascript:void(0);" id="openNedimeModal2">Nedimeniz</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <hr>
        <div class="container" style="    padding-bottom: 25px;">
            <div class="row" style="color: white;">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text" style="color:black">
                        Copyright &copy; 2024 All Rights Reserved by
                        <a href="/">Düğündeyiz</a>.
                    </p>
                </div>


            </div>
        </div>

    </footer>

    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-19MLQZ9P0S');
        // function googleTranslateElementInit() {
        //     new google.translate.TranslateElement({
        //         pageLanguage: 'tr',
        //         includedLanguages: 'en,tr,de,fr,es,it,ar,ru,bg,el', // 10 en çok kullanılan dil
        //         layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        //     }, 'google_translate_element');
        // }

        // // Dil seçeneklerine bayrak ekleme fonksiyonu
        // function addFlagsToTranslateOptions() {
        //     var langFlags = {
        //         en: 'https://flagcdn.com/w320/us.png', // İngilizce - ABD
        //         tr: 'https://flagcdn.com/w320/tr.png', // Türkçe - Türkiye
        //         de: 'https://flagcdn.com/w320/de.png', // Almanca - Almanya
        //         fr: 'https://flagcdn.com/w320/fr.png', // Fransızca - Fransa
        //         es: 'https://flagcdn.com/w320/es.png', // İspanyolca - İspanya
        //         it: 'https://flagcdn.com/w320/it.png', // İtalyanca - İtalya
        //         ar: 'https://flagcdn.com/w320/sa.png', // Arapça - Suudi Arabistan
        //         ru: 'https://flagcdn.com/w320/ru.png', // Rusça - Rusya
        //         bg: 'https://flagcdn.com/w320/bg.png', // Bulgarca - Bulgaristan
        //         el: 'https://flagcdn.com/w320/gr.png'  // Yunanca - Yunanistan
        //     };

        //     var menuItems = document.querySelectorAll('.skiptranslatem span.text');

        //     menuItems.forEach(function (menuItem) {
        //         var langCode = menuItem.innerText.toLowerCase().substr(0, 2); // İlk iki harfi al
        //         if (langFlags[langCode]) {
        //             var img = document.createElement('img');
        //             img.src = langFlags[langCode];
        //             img.style.width = '20px';
        //             img.style.height = '14px';
        //             img.style.marginRight = '8px';
        //             menuItem.parentElement.insertBefore(img, menuItem);
        //         }
        //     });
        // }

        // // Sayfa tamamen yüklendiğinde çalışacak
        // window.onload = function () {
        //     // Google Translate widget'ı başlat
        //     googleTranslateElementInit();

        //     // MutationObserver ile widget'taki değişiklikleri izliyoruz
        //     var targetNode = document.getElementById('google_translate_element');
        //     if (targetNode) {
        //         // Eğer widget zaten yüklenmişse metni hemen değiştir
        //     }

        //     // Bayrakları eklemek için biraz bekliyoruz
        //     setTimeout(addFlagsToTranslateOptions, 2000);
        // };


        // "openCustomerModal" butonuna tıklanınca modal açma
        var openCustomerModal = document.getElementById("openCustomerModal");
        var customerModal = document.getElementById("customerModal");
        var openuserModal2 = document.getElementById("openUserModal2");

        if (openCustomerModal && customerModal) {
            openCustomerModal.addEventListener("click", function (e) {
                e.preventDefault();
                document.body.classList.add("disable-hover");
                customerModal.style.display = "flex";
            });
            openuserModal2.addEventListener("click", function (e) {
                e.preventDefault();
                document.body.classList.add("disable-hover");
                customerModal.style.display = "flex";
            });
        }

        // "close-modal" sınıfına sahip buton ile modal kapatma
        var closeModal = document.querySelector(".close-modal");

        if (closeModal && customerModal) {
            closeModal.addEventListener("click", function () {
                document.body.classList.remove("disable-hover");

                customerModal.style.display = "none";
            });
        }


        // Modal dışına tıklanınca modal kapatma
        if (customerModal) {
            customerModal.addEventListener("click", function (e) {
                if (e.target === customerModal) {
                    document.body.classList.remove("disable-hover");

                    customerModal.style.display = "none";
                }
            });
        }

        // "customerModalInside" tıklanınca olay yayılımını durdurma
        var customerModalInside = document.getElementById("customerModalInside");

        if (customerModalInside) {
            customerModalInside.addEventListener("click", function (e) {
                e.stopPropagation(); // Olayın dış modal'a yayılmasını engeller
            });
        }


        // customerModalInside tıklanınca olay yayılımını durdurma
        document.getElementById("customerModalInside").addEventListener("click", function (e) {
            e.stopPropagation(); // Olayın modal dışına yayılmasını engeller
        });


        ///////////////////////////////////////
        var openpartnerModal = document.getElementById("openPartnerModal");
        var openpartnerModal2 = document.getElementById("openPartnerModal2");
        var partnerModal = document.getElementById("partnerModal");

        if (openpartnerModal && partnerModal) {
            openpartnerModal.addEventListener("click", function (e) {
                e.preventDefault();
                document.body.classList.add("disable-hover");
                partnerModal.style.display = "flex";
            });
            openpartnerModal2.addEventListener("click", function (e) {
                e.preventDefault();
                document.body.classList.add("disable-hover");
                partnerModal.style.display = "flex";
                // Modalı kapat
            });
        }

        // "close-modal" sınıfına sahip buton ile modal kapatma


        function hidePartnerModal() {
            // .dropdown-menu-partner öğesini bul ve gizle
            document.body.classList.remove("disable-hover");

            partnerModal.style.display = "none";
        }

        // Modal dışına tıklanınca modal kapatma
        if (partnerModal) {
            partnerModal.addEventListener("click", function (e) {
                if (e.target === partnerModal) {
                    document.body.classList.remove("disable-hover");
                    partnerModal.style.display = "none";
                }
            });
        }

        // "partnerModalInside" tıklanınca olay yayılımını durdurma
        var partnerModalInside = document.getElementById("partnerModalInside");

        if (partnerModalInside) {
            partnerModalInside.addEventListener("click", function (e) {
                e.stopPropagation(); // Olayın dış modal'a yayılmasını engeller
            });
        }


        // partnerModalInside tıklanınca olay yayılımını durdurma
        document.getElementById("partnerModalInside").addEventListener("click", function (e) {
            e.stopPropagation(); // Olayın modal dışına yayılmasını engeller
        });















        function toggleSubmenu2() {
            var submenu = document.getElementById("subCategoryMenu");
            if (submenu.style.display === "none") {
                submenu.style.display = "block";
                submenu.style.zIndex = '9999';
            } else {
                submenu.style.display = "none";
            }
        }
        // Alt menüyü aç
        document.getElementById("menu-item-categories").addEventListener("mouseover", function () {
            document.getElementById("subCategoryMenu").style.display = "block";
        });

        document.getElementById("menu-item-categories").addEventListener("mouseover", function () {
            document.getElementById("subCategoryMenu").style.display = "block";
        });

        // Alt menü ve menu-item dışına çıkıldığında menüyü kapat
        function closeMenuCategories(event) {
            var menuItem = document.getElementById("menu-item-categories");
            var submenu = document.getElementById("subCategoryMenu");

            // Eğer fare hem menu-item hem de submenu dışına çıkarsa menüyü kapat
            if (!menuItem.contains(event.relatedTarget) && !submenu.contains(event.relatedTarget)) {
                submenu.style.display = "none";
            }
        }

        // menu-item dışına çıkıldığında kontrol
        document.getElementById("menu-item-categories").addEventListener("mouseleave", closeMenuCategories);

        // submenu dışına çıkıldığında kontrol
        document.getElementById("subCategoryMenu").addEventListener("mouseleave", closeMenuCategories);







        // Alt menüyü aç
        document.getElementById("menu-item").addEventListener("mouseover", function () {
            document.getElementById("submenu").style.display = "block";
        });

        document.getElementById("submenu").addEventListener("mouseover", function () {
            document.getElementById("submenu").style.display = "block";
        });

        // Alt menü ve menu-item dışına çıkıldığında menüyü kapat
        function closeMenu(event) {
            var menuItem = document.getElementById("menu-item");
            var submenu = document.getElementById("submenu");

            // Eğer fare hem menu-item hem de submenu dışına çıkarsa menüyü kapat
            if (!menuItem.contains(event.relatedTarget) && !submenu.contains(event.relatedTarget)) {
                submenu.style.display = "none";
            }
        }

        // menu-item dışına çıkıldığında kontrol
        document.getElementById("menu-item").addEventListener("mouseleave", closeMenu);

        // submenu dışına çıkıldığında kontrol
        document.getElementById("submenu").addEventListener("mouseleave", closeMenu);



        const modal = document.getElementById("nedimeModal");
        const openModal = document.getElementById("openNedimeModal");
        const openModal2 = document.getElementById("openNedimeModal2");
        const openModal3 = document.getElementById("openNedimeModal3");
        const closeModalNedime = document.querySelector(".nedime-modal-close");

        // Modal açma
        openModal3.addEventListener("click", function () {
            document.body.classList.add("disable-hover");
            modal.style.display = "block";
        });
        // Modal açma
        openModal2.addEventListener("click", function () {
            modal.style.display = "block";
            document.body.classList.add("disable-hover");

        });
        // Modal açma
        openModal.addEventListener("click", function () {
            modal.style.display = "block";
            document.body.classList.add("disable-hover");

        });

        // Modal kapama (X'e tıklayınca)
        closeModalNedime.addEventListener("click", function () {
            modal.style.display = "none";
            document.body.classList.remove("disable-hover");

        });

        // Modal kapama (arka plana tıklayınca)
        document.getElementById("nedimeModal").addEventListener("click", function (e) {
            if (e.target === document.getElementById("nedimeModal")) {
                document.body.classList.remove("disable-hover");

                this.style.display = "none";
            }
        });


        $(document).ready(function () {
            // Şehirleri yükle
            $.ajax({
                url: "/api/Services/cities",
                type: "GET",
                success: function (data) {
                    let cityDropdownMenu = $('#cityDropdownMenu');

                    // Arama kutusunu ekle
                    cityDropdownMenu.append(`
                                                    <li class="sticky-header p-2">
                                                        <input type="text" id="citySearch" class="form-control" style="margin-bottom:0px;" placeholder="Şehir ara..." />
                                                    </li>
                                                `);

                    // Şehirleri ekle
                    data.forEach(city => {
                        cityDropdownMenu.append(`
                                                        <li>
                                                                    <a class="dropdown-item" href="#" onclick="hideDropdownMenu()"  data-id="${city.id}">${city.cityName}</a>
                                                        </li>
                                                    `);
                    });

                    // Arama yapıldığında
                    $('#citySearch').on('input', function () {
                        const searchTerm = normalizeTurkish($(this).val());
                        filterDropdown('#cityDropdownMenu', searchTerm);
                        adjustDropdownPosition(); // Dropdown pozisyonunu ayarla
                    });

                    // Şehir seçimi için
                    $('#cityDropdownMenu .dropdown-item').click(function (e) {
                        e.preventDefault();
                        const cityId = $(this).data('id');
                        $('#cityDropdown').text($(this).text());
                        $('#districtDropdown').text('İlçe Seç');
                        $('#districtDropdown').prop('disabled', false);
                        loadDistricts(cityId);
                    });
                }
            });

            // Dropdown pozisyonunu ayarla
            function adjustDropdownPosition() {
                const dropdown = $('#cityDropdownMenu');
                const button = $('#cityDropdown');

                // Liste elemanlarının toplam yüksekliğini al
                const listHeight = dropdown[0].scrollHeight;

                // Butonun pozisyonunu ve ekran yüksekliğini al
                const buttonOffset = button.offset();
                const windowHeight = $(window).height();

                // Dropdown'ın alt veya üstte açılmasına karar ver
                if (buttonOffset.top + button.outerHeight() + listHeight > windowHeight) {
                    // Yukarı doğru aç
                    dropdown.css({
                        top: 'auto',
                        bottom: button.outerHeight() + 'px',
                        // left: button.offset().left + 'px'
                    });
                } else {
                    // Aşağı doğru aç
                    dropdown.css({
                        top: button.offset().top + button.outerHeight() + 'px',
                        bottom: 'auto',
                        // left: button.offset().left + 'px'
                    });
                }
            }

            function adjustDropdownPositionDistrict() {
                const dropdown = $('#districtDropdownMenu');
                const button = $('#districtDropdown');

                // Liste elemanlarının toplam yüksekliğini al
                const listHeight = dropdown[0].scrollHeight;

                // Butonun pozisyonunu ve ekran yüksekliğini al
                const buttonOffset = button.offset();
                const windowHeight = $(window).height();

                // Dropdown'ın alt veya üstte açılmasına karar ver
                if (buttonOffset.top + button.outerHeight() + listHeight > windowHeight) {
                    // Yukarı doğru aç
                    dropdown.css({
                        top: 'auto',
                        bottom: button.outerHeight() + 'px',
                        // left: button.offset().left + 'px'
                    });
                } else {
                    // Aşağı doğru aç
                    dropdown.css({
                        top: button.offset().top + button.outerHeight() + 'px',
                        bottom: 'auto',
                        // left: button.offset().left + 'px'
                    });
                }
            }


            function loadDistricts(cityId) {
                $.ajax({
                    url: `/api/Services/districts/${cityId}`,
                    type: "GET",
                    success: function (data) {
                        let districtDropdownMenu = $('#districtDropdownMenu');
                        districtDropdownMenu.empty();
                        districtDropdownMenu.append(`                    <li class="sticky-header p-2">
                                                                        <input type="text" id="districtSearch" class="form-control" style="margin-bottom:0px;" placeholder="Şehir ara..." />
                                                            </li>`);
                        data.forEach(district => {
                            districtDropdownMenu.append(`<li><a class="dropdown-item" href="#" onclick="hideDropdownMenu()" data-id="${district.id}">${district.townName}</a></li>`);
                        });

                        $('#districtDropdownMenu .dropdown-item').click(function (e) {
                            e.preventDefault();
                            $('#districtDropdown').text($(this).text());
                        });

                        $('#districtSearch').on('input', function () {
                            const searchTerm = normalizeTurkish($(this).val());
                            filterDropdown('#districtDropdownMenu', searchTerm);
                            adjustDropdownPositionDistrict();
                        });
                    }
                });
            }

            function filterDropdown(dropdownId, searchTerm) {
                $(dropdownId + ' .dropdown-item').each(function () {
                    const text = normalizeTurkish($(this).text());
                    $(this).toggle(text.includes(searchTerm));
                });
            }

            function normalizeTurkish(text) {
                return text.toLocaleLowerCase('tr-TR').replace(/ç/g, 'c').replace(/ğ/g, 'g').replace(/ı/g, 'i')
                    .replace(/ö/g, 'o').replace(/ş/g, 's').replace(/ü/g, 'u');
            }
            $(".dropdown-toggle-partner").click(function () {
                const dropdownMenu = $(this).next(".dropdown-menu-partner");

                // Menü görünürlüğünü tersine çevir
                const isVisible = dropdownMenu.is(":visible");
                dropdownMenu.toggle(!isVisible);

                // Pozisyon ayarları
                adjustDropdownPosition();
                adjustDropdownPositionDistrict();
            });



            // // Dropdown menüyü açan tıklama
            // $('.dropdown-toggle-partner').click(function (e) {
            //     // Tıklanan dropdown menüsünün açık olup olmadığını kontrol et
            //     var $dropdownMenu = $(this).next('.dropdown-menu-partner');

            //     // Diğer menüleri kapat
            //     $(".dropdown-menu-partner").not($dropdownMenu).hide();

            //     // Tıklanan menüyü aç veya kapat
            //     $dropdownMenu.toggle();

            //     // Default davranışı engelle
            //     e.stopPropagation();
            // });

            // Form validasyonu ve gönderimi

        });

        function hideDropdownMenu() {
            // .dropdown-menu-partner öğesini bul ve gizle
            $(".dropdown-menu-partner").hide();
        }
        // Menü açma/kapatma
        const hamburgerMenu = document.querySelector('.hamburger-menu');
        const sideMenu = document.querySelector('#sideMenu');

        hamburgerMenu.addEventListener('click', () => {
            sideMenu.classList.toggle('active');
        });

        // Alt menü açma/kapatma
        const dropdownToggles = document.querySelectorAll('.dropdown-toggle-menu ');



        dropdownToggles.forEach(toggle => {
            toggle.addEventListener('click', () => {
                // Tüm alt menüleri kapat
                document.querySelectorAll('.submenu').forEach(submenu => {
                    submenu.style.display = 'none';
                });

                // Tıklanan menünün alt menüsünü aç/kapat
                const submenu = toggle.nextElementSibling;
                submenu.style.display = submenu.style.display === 'grid' ? 'none' : 'grid';
            });
        });
        $('#partnerPhone').on('input', function () {
            const value = $(this).val().replace(/\D/g, ''); // Sadece rakamları al
            const formatted = value.replace(/^(\d{3})(\d{3})(\d{2})(\d{2})$/, '($1)-$2-$3-$4');
            $(this).val(formatted);
            const errorElement = $(this).closest('form').find('.error-message'); // En yakın .error-message elementini bul

            if (value.length !== 10) {
                const $errorSpan = $(this).next('.error-message');
                $errorSpan.text('Lütfen telefon numaranızı 10 hane olarak giriniz.').show();
                $(this).css('border-color', 'red');
            } else {
                 $(this).next('.error-message').css('display', 'none');
                $(this).css('border-color', '#ccc');
            }
        });
        $('#customerPhone').on('input', function () {
            const value = $(this).val().replace(/\D/g, ''); // Sadece rakamları al
            const formatted = value.replace(/^(\d{3})(\d{3})(\d{2})(\d{2})$/, '($1)-$2-$3-$4');
            $(this).val(formatted);


            if (value.length !== 10) {
                const $errorSpan = $(this).next('.error-message');
                $errorSpan.text('Lütfen telefon numaranızı 10 hane olarak giriniz.').show();
                $(this).css('border-color', 'red');
            } else {
                $(this).next('.error-message').css('display', 'none');
                $(this).css('border-color', '#ccc');

            }
        });
        document.addEventListener('click', (event) => {
            const allSubmenus = document.querySelectorAll('.submenu');

            allSubmenus.forEach(submenu => {
                // Eğer tıklanılan öğe menü veya buton değilse, menüyü kapat
                if (!submenu.contains(event.target) && !event.target.classList.contains('dropdown-toggle')) {
                    submenu.style.display = 'none';
                    document.querySelectorAll('.submenu').forEach((openMenu) => {
                        openMenu.style.maxHeight = '0';
                        openMenu.style.display = 'none';
                    });
                }
            });
        });
        // Mobile header div'i seç


        // Div'in ekran dışına çıkıp çıkmadığını kontrol eden fonksiyon
        // Mobile header div'i seç
        const mobileHeader = document.querySelector('.mobile-header-container');

        // Mobile header'ın başlangıç pozisyonunu kaydet
        const initialHeaderOffset = mobileHeader.offsetTop;

        // Div'in ekran dışına çıkıp çıkmadığını kontrol eden fonksiyon
        function checkMobileHeaderPosition() {
            const headerOffset = mobileHeader.getBoundingClientRect().top;

            if (window.scrollY > initialHeaderOffset) {
                // Eğer div ekranın üstüne çıktıysa sabitle
                mobileHeader.classList.add('mobile-header-fixed');
            } else {
                // Eğer div tekrar eski yerine gelirse eski pozisyonuna döndür
                mobileHeader.classList.remove('mobile-header-fixed');
            }
        }

        // Scroll olayı dinle
        window.addEventListener('scroll', checkMobileHeaderPosition);



        // Dropdown toggle için tıklama olayını ayarla
        document.querySelectorAll('.dropdown-toggle-menu').forEach((button) => {
            button.addEventListener('click', function () {
                const submenu = this.nextElementSibling;

                // Menü açık mı kontrol et
                if (submenu.style.maxHeight && submenu.style.maxHeight !== '0px') {
                    // Kapat: max-height sıfırlanır
                    submenu.style.maxHeight = '0';
                    submenu.style.display = 'none';

                } else {
                    // Diğer açık menüleri kapat
                    document.querySelectorAll('.submenu').forEach((openMenu) => {
                        openMenu.style.maxHeight = '0';

                    });

                    // Aç: max-height hesaplanır
                    submenu.style.maxHeight = submenu.scrollHeight + 'px';
                }
            });
        });


        $(document).ready(function () {
            // API'ye istek gönder
            $.ajax({
                url: '/api/services/getCategories', // API'nin URL'si
                method: 'GET', // HTTP methodu
                success: function (response) {
                    // API'den gelen verilerle listeyi doldur
                    var categories = response; // API'den gelen veriler
                    var categoryList = $('#categoryList'); // Listeyi hedefle

                    // Verileri dinamik olarak ekle
                    categories.forEach(function (category) {
                        var listItem = $('<li></li>').addClass('submenuLi'); // li öğesi oluştur
                        var linkItem = $('<a></a>').addClass('submenuLink').text(category.categoryName); // a öğesi oluştur ve veriyi yerleştir

                        linkItem.attr('href', '/Hizmetler/' + category.categoryName);

                        listItem.append(linkItem); // a öğesini li'ye ekle
                        categoryList.append(listItem); // li'yi listeye ekle
                    });
                },
                error: function () {
                    console.log('Veri yüklenirken bir hata oluştu.');
                }
            });
        });
        $(document).ready(function () {


            // API'ye istek gönder
            $.ajax({
                url: '/api/services/getSpecialCategories', // API'nin URL'si
                method: 'GET', // HTTP methodu
                success: function (response) {
                    // API'den gelen verilerle listeyi doldur
                    var categories = response; // API'den gelen veriler
                    var categoryList = $('#speacialCategoryList'); // Listeyi hedefle

                    // Verileri dinamik olarak ekle
                    categories.forEach(function (category) {
                        var listItem = $('<li></li>').addClass('submenuLi'); // li öğesi oluştur
                        var linkItem = $('<a></a>').addClass('submenuLink').text(category.categoryName); // a öğesi oluştur ve veriyi yerleştir

                        linkItem.attr('href', '/Hizmetler/' + category.categoryName);

                        listItem.append(linkItem); // a öğesini li'ye ekle
                        categoryList.append(listItem); // li'yi listeye ekle
                    });
                },
                error: function () {
                    console.log('Veri yüklenirken bir hata oluştu.');
                }
            });

        });

        $(document).on('click', '.btn-close', function () {
            const modal = $(this).closest('.custom-modal');
            modal.removeClass('show').css('display', 'none');
            const bootstrapModal = bootstrap.Modal.getInstance(modal[0]);
            if (bootstrapModal) {
                bootstrapModal.hide(); // Modal ve ilgili backdrop'ları temizler
            }
        });







    </script>

    <script src="~/js/login.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/mainjs.js"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
