@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div id="a188dd9a22120fecac69633dabda7368" class="wb_element wb-layout-element" data-plugin="LayoutElement">
    <a name="About-us" class="wb_anchor" data-popup-processed="true"></a>
    <div class="wb_content wb-layout-vertical">
        <div id="a19127a1984400deef261fad5c1153ff" class="wb_element wb-layout-element" data-plugin="LayoutElement">
            <div class="wb_content wb-layout-horizontal">
                <div id="a188dd9a221213f1524ba5e8bf212ecc" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                    <div class="wb_content wb-layout-horizontal">
                        <div id="a188dd9a221214e6a235a9e37adaf66c" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                            <div class="wb_content wb-layout-vertical">
                                <div id="a188dd9a2212156b5f335a50fd7191e8" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                    <div class="wb_picture_wrap">
                                        <div class="wb-picture-wrapper"><img alt="" src="~/gallery_gen/5093a0de02e40f838a0ba9225ad9949f_500x500_fit.png?ts=1723818424"></div>
                                    </div>
                                </div>
                                <div id="a188dd9a2212161c3de9dcfdf447344d" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                                    <h3 class="wb-stl-heading3" style="text-align: center;">Nedimenizle Tanışın</h3>
                                </div>
                                <div id="a188dd9a2212174eed0e9b8a228b3ac7" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                    <div class="wb_content wb-layout-horizontal">
                                        <div id="a188dd9a221219732980d15375df0e6c" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                            <div class="wb_picture_wrap" style="height: 100%">
                                                <div class="wb-picture-wrapper" style="overflow: visible; display: flex"><svg xmlns="http://www.w3.org/2000/svg" width="1793.982" height="1793.982" viewBox="0 0 1793.982 1793.982" style="direction: ltr; color:#f40cd8"><text x="129.501415" y="1537.02" font-size="1792" fill="currentColor" style="font-family: &quot;FontAwesome&quot;"></text></svg></div>
                                            </div>
                                        </div>
                                        <div id="a188dd9a22121aa9d5afc963132c8fef" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                            <div class="wb_picture_wrap" style="height: 100%">
                                                <div class="wb-picture-wrapper" style="overflow: visible; display: flex"><a href="#Home" data-popup-processed="true"><svg xmlns="http://www.w3.org/2000/svg" width="1024" height="1024" viewBox="0 0 1024 1024" style="direction: ltr; color:#ffffff"><text x="64" y="960" font-size="1024" fill="currentColor" style="font-family: &quot;builder-ui-icons-plugins&quot;"></text></svg></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="a188dd9a22121bf3b6879b59fd99b2c4" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                            <div class="wb_content wb-layout-vertical">
                                <div id="a188dd9a22121c61f739740d8c8e3cf3" class="wb_element wb-elm-orient-vertical" data-plugin="Line">
                                    <div class="wb-elm-line"></div>
                                </div>
                                <div id="a191372e18610010289dffaa495db96d" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                    <div class="wb_picture_wrap">
                                        <div class="wb-picture-wrapper" style="overflow: visible; display: flex"><svg xmlns="http://www.w3.org/2000/svg" width="1793.982" height="1793.982" viewBox="0 0 1793.982 1793.982" style="direction: ltr; color:#f00000"><text x="1.501415" y="1537.02" font-size="1792" fill="currentColor" style="font-family: &quot;FontAwesome&quot;"></text></svg></div>
                                    </div>
                                </div>
                                <div id="a188dd9a22121de999cb7487d78c60a0" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;"></div>
                                <div id="a188dd9a22121ec24ffd9d67505a721d" class="wb_element wb-elm-orient-vertical" data-plugin="Line">
                                    <div class="wb-elm-line"></div>
                                </div>
                            </div>
                        </div>
                        <div id="a188dd9a22121f94440969b9f7d57b6a" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                            <div class="wb_content wb-layout-vertical">
                                <div id="a188dd9a2212206dfdaf4f70d5b113bc" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                    <div class="wb_picture_wrap">
                                        <div class="wb-picture-wrapper"><img alt="" src="~/gallery_gen/b741c788fd2cb770e749419852151a03_500x500_fit.png?ts=1723818424"></div>
                                    </div>
                                </div>
                                <div id="a188dd9a221221327f116ae9a6bdc3b3" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
                                    <h3 class="wb-stl-heading3" style="text-align: center;">siz seçin biz fiyat alalım<span class="wb-stl-special">&nbsp;</span></h3>
                                </div>
                                <div id="a188dd9a221222f507215819bdca677e" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                                    <div class="wb_content wb-layout-horizontal">
                                        <div id="a188dd9a221224183b731e6d554bcbc4" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                            <div class="wb_picture_wrap" style="height: 100%">
                                                <div class="wb-picture-wrapper" style="overflow: visible; display: flex"><svg xmlns="http://www.w3.org/2000/svg" width="1793.982" height="1793.982" viewBox="0 0 1793.982 1793.982" style="direction: ltr; color:#1427e2"><text x="129.501415" y="1537.02" font-size="1792" fill="currentColor" style="font-family: &quot;FontAwesome&quot;"></text></svg></div>
                                            </div>
                                        </div>
                                        <div id="a188dd9a221225bddec48338ca50aff9" class="wb_element wb_element_picture" data-plugin="Picture" title="">
                                            <div class="wb_picture_wrap" style="height: 100%">
                                                <div class="wb-picture-wrapper" style="overflow: visible; display: flex"><a href="https://dugundeyiz.com.tr/" data-popup-processed="true"><svg xmlns="http://www.w3.org/2000/svg" width="1793.982" height="1793.982" viewBox="0 0 1793.982 1793.982" style="direction: ltr; color:#d90011"><text x="1.501415" y="1537.02" font-size="1792" fill="currentColor" style="font-family: &quot;FontAwesome&quot;"></text></svg></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="a188dd9a22122aad1df24301dbf11986" class="wb_element wb-layout-element" data-plugin="LayoutElement">
    <a name="Gallery" class="wb_anchor" data-popup-processed="true"></a>
    <div class="wb_content wb-layout-vertical">
        <div id="a188dd9a221228037e290d8cfe47db18" class="wb_element wb_text_element" data-plugin="TextArea" style=" line-height: normal;">
            <p class="wb-stl-normal" style="text-align: center;">ÇÖZÜM ORTAKLARINIZ..</p>
        </div>
        <div id="a19136eedcc800ca708bfabf2cc4291f" class="wb_element wb-layout-element" data-plugin="LayoutElement">
            <div class="wb_content wb-layout-horizontal">
                <div id="a188dd9a22122bdda4bcfa34ff5ae0b0" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                    <div class="wb_content wb-layout-vertical">
                        <div id="homePageItems" class="wb_element wb-layout-element" data-plugin="LayoutElement">
                            <div class="wb_content wb-layout-horizontal">
@*                                 @foreach (var item in Model.Kategoriler)
                                {
                                    <div id="homePageItemsMain" class="wb_element wb-layout-element" data-plugin="LayoutElement" style="cursor:pointer;    border-radius: 10px;" onclick="window.location.href='@Url.Action("Index", "Service", new { categoryName = item.CategoryName})'">
                                        <div class="wb_content wb-layout-vertical">
                                            <div id="homePageıtemImg" class="wb_element wb_element_picture" data-plugin="Picture" title="@item.CategoryName">
                                                <div class="wb_picture_wrap">
                                                    <div class="wb-picture-wrapper" style="    border-radius: 10px;"><img alt="@item.CategoryName" src="@item.Image"></div>
                                                </div>
                                            </div>
                                            <div id="homePageItemsText" class="wb_element wb_text_element wb-anim wb-anim-zoom-in" data-plugin="TextArea" style=" line-height: normal;">
                                                <p style="text-align: center;"><span style="color:#e7d1d1;"><span style="background-color:transparent;"><span class="wb-stl-custom11">@item.CategoryName</span></span></span></p>
                                            </div>
                                        </div>
                                    </div>

                                } *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>